<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Unity.Interception.Serialization.Test"/>
    <namespace name="Unity.InterceptionExtension.Serialization.Test.Model"/>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <sectionExtension type="Unity.InterceptionExtension.Serialization.Configuration.InterceptionSerializationConfigurationExtension, Unity.Interception.Serialization.Configuration"/>
    <container>

      <extension type="Interception"/>

      <register type="IInterfaceToIntercept" mapTo="ContractToIntercept" name="interfaceinterceptor">
        <dataContractInterceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="AdditionalInterfaceToInterceptBehavior"/>
      </register>

      <register type="IInterfaceToIntercept" mapTo="ContractToIntercept" name="virtualmethodinterceptor">
        <dataContractInterceptor type="VirtualMethodInterceptor"/>
        <interceptionBehavior type="AdditionalInterfaceToInterceptBehavior"/>
      </register>

      <register type="IInterfaceToIntercept" mapTo="ClassToIntercept" name="interfaceinterceptorserializable">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="AdditionalInterfaceToInterceptBehavior"/>
      </register>

      <register type="IInterfaceToIntercept" mapTo="ClassToIntercept" name="virtualmethodinterceptorserializable">
        <interceptor type="VirtualMethodInterceptor"/>
        <interceptionBehavior type="AdditionalInterfaceToInterceptBehavior"/>
      </register>

      <register type="AdditionalInterfaceToInterceptBehavior"/>

    </container>
  </unity>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
